{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">kakaocert SDK Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>간편 전자서명 API 목록</legend>
            <ul>
                <li><a href="KakaocertService/RequestESign">RequestESign</a> - 전자서명 요청 API</li>
                <li><a href="KakaocertService/GetESignResult">GetESignResult</a> - 전자서명 결과정보 확인 API</li>
            </ul>
        </fieldset>

        <br/>
        <fieldset class="fieldset1">
            <legend>본인인증 API 목록</legend>
            <ul>
                <li><a href="KakaocertService/RequestVerifyAuth">RequestVerifyAuth</a> - 본인인증 요청 API</li>
                <li><a href="KakaocertService/GetVerifyAuthResult">GetVerifyAuthResult</a> - 본인인증 결과정보 확인 API</li>
            </ul>
        </fieldset>

        <br/>
        <fieldset class="fieldset1">
            <legend>자동이체 출금동의 API 목록</legend>
            <ul>
                <li><a href="KakaocertService/RequestCMS">RequestCMS</a> - 자동이체 출금동의 API</li>
                <li><a href="KakaocertService/GetCMSResult">GetCMSResult</a> - 자동이체 출금동의 결과정보 확인 API</li>
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
